/*! RESETS */
html{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
}
/* ! BODY */
.container-nb{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 13.8vh 78.2vh 8vh;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}
/* ! HEADER */
.header-container{
    grid-column: 2;
    grid-row: 1;
    background-color: #f0e14a;
    height: 100%;
    width: 100%;
}
.header {
    height: 100%;
    width: 100%;
}
.top-nav-btn{
    text-align: center;
    height: 44px;
    padding: 8px;
    color: #44281d;
    background-color: #e4a788;
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.top-nav-btn:hover{
    background-color: #97ce4c;
    border: 4px solid #97ce4c;
    font-size: 14px;
}
/* ! MAIN */
.main-container{
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-image: url("resources/rick-_-morty-portal_4x.jpg");
    background-size: 825px 550px;
    background-repeat: no-repeat;
    background-position: center center;

}
.main-h2{
    font-size: 24px;
}
/* ! NAV BAR */
.nav-container{
    grid-row: 1/4;
    grid-column: 1;
    height: 100%;
    width: 100%;
    background-color: #f0e14a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu{
    height: 90%;
    width: 80%;
    padding: 10px;
}
.season-btn{
    border: none;
    background-color: #97ce4c;
    color: #44281d;
    padding: 3px 0 3px 0;
    margin: 5px 0 5px 0;
    font-weight: 600;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.season-btn:hover{
    background-color: #b9fa5d;
}
.episode-btn{
background-color: transparent;
border: none;
margin: 2px 0 2px 0;
}
.episode-btn:hover{
    text-decoration: underline;
}
.episode-btn i {
    font-size: 9px;
    text-align: center;
}
/* ! FOOTER */
.footer-container{
    grid-column: 2;
    grid-row: 3;
    height: 100%;
    width: 100%;
    background-color: white;
}
.github-logo{
    height: 55px;
    width: 58px;
}

/*? Remember that all input elements and buttons should have a minimun heigth of 44px */

@media screen and (max-width:480px){
    .top-nav-btn{
        height: 50px;
        padding: 5px;
        color: #44281d;
        background-color: #e89ac7;
        border: none;
        font-size: 14px;
    }
}
